{% extends "layout.html" %}
{% load static %}

{% block content %}

   <div class="outer"></div>
   {% include "inner-nav.html" %}

   <div class="page-content">

      <div class="content">

         <div class="auth-form">
            <h3 class="legend">Add a screenplay</h3>
            <form action="" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{ form.as_p }}
               <div class="btn">
                  <button>Publish</button>
               </div>
            </form>
         </div>

      </div>

   </div>
  
{% endblock content %}