{% extends "layout.html" %}
{% load static %}

{% block content %}

   <div class="outer"></div>
   {% include "nav.html" %}

   <div class="page-content">

      <div class="content">
         <div class="auth-form">
            <h3 class="legend">Sign up to find and review shared screenplays</h3>
            <form action="" method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <div class="btn">
                  <button type='submit'>Log In</button>
               </div>
            </form>
            <div class="alt-text">
               <p>Don't Have an Account? <a href="{% url 'signup' role='Writer' %}">Sign Up</a></p>
            </div>
         </div>
      </div>

   </div>
  
{% endblock content %}