{% extends "layout.html" %}
{% load static %}

{% block content %}

   <div class="outer"></div>
   {% include "nav.html" %}

   <div class="page-content">

      <div class="content">
         <div class="auth-form">
            {% if role == 'Writer' %}
               <h3 class="legend">Sign up to store and share your screenplays.</h3>
            {% else %}
               <h3 class="legend">Sign up to find and review shared screenplays</h3>
            {% endif %}
      
            <form action="" method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <div class="btn">
                  <button type='submit'>Sign Up</button>
               </div>
            </form>
            <div class="alt-text">
               <p>Have an Account? <a href="{% url 'login' %}">Log In</a></p>
            </div>
         </div>
      </div>

   </div>
  
{% endblock content %}