@import "helpers/mixins";
@import "helpers/functions";

body {
   margin: 0;
   padding: 0;
}

nav {
   display: flex;
   align-items: center;
   margin: 1%;
}

.outer {
   position: fixed;
   top: 0;
   left: 0;
   z-index: -10;
   width: 100%;
   height: 100vh;
   background-color: #fff;
}

.menu-right {
   display: flex;
   margin-left: auto;
   align-items: center;

   .desc {
      text-align: right;
      margin-right: 2%;
   }
   h4 {
      margin: 0;
      @include fonts(clr(p2),12px,600);
   }

   p {
      margin: 0;
      @include fonts(rgba(clr(p2),0.6),9px);
   }
}

button {
   cursor: pointer;
}

.avatar-sm {
   width: 24px;
   height: 24px;
   border-radius: 50%;
   overflow: hidden;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.logo {
   width: 16px;
   height: 16px;
   overflow: hidden;
   vertical-align: middle;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}


.page-content {
   background-color: #F2F4F8;
   width: 96%;
   height: 96vh;
   margin: 0 auto;
   box-sizing: border-box;
   font-family: $f2;
   border-radius: 26px 26px 0 0;
}

.content {
   padding: 1% 2% 0 2%;
}

.posts {
   display: flex;
   flex-flow: row wrap;
}

.card {
   background-color: #fff;
   width: 32%;
   margin: 0.6% 0.6%;
}

.content-container {
   box-sizing: border-box;
   padding: 1% 4%;

   h4 {
      @include fonts(clr(p2),14px,600);
      &::before {
         content: '';
         display: block;
         border: 1px solid clr(s);
         width: 14%;
         margin-bottom: 6%;
      }
   }

   p.logline {
      @include fonts(rgba(clr(p2),0.7),12px);
   }

   a {
      @include fonts(clr(s2),12px,600);
      text-decoration: none;
      // padding: 4px 10px;
      // border: 1px solid rgba(#333,0.5);
      &:hover {
         @include fonts(clr(s2),12px);
      }
   }
}

.top {
   display: flex;
   align-items: center;

   .filter {
      margin-left: auto;
      select {
         background-color: #fff;
         padding: 6px 10px;
         border: none;
         @include fonts(clr(p2),11px,600);
         option {
            background-color: #fff;
            border: none;
         }
      }

      a {
         text-decoration: none;
         background-color: #fff;
         padding: 10px 14px;
         @include fonts(clr(p2),12px,600);
         &:hover {
            background-color: clr(s2);
            font-weight: 700;
         }
      }
   }
}

.helptext {
   display: none;
}

.auth-form {
   width: 30%;
   margin: 0 auto;
   input,textarea {
      width: 100%;
      padding: 8px 8px;
      border: none;
      // border-bottom: 1px solid clr(p2);
      background-color: #fff;
      box-shadow: 1px 1px 6px 2px rgba(#333,0.1);
      &:focus {
         border: none;
         border: 1px solid rgba(clr(s2),0.1);
         outline: none;
         @include fonts(clr(p2),12px,600);
      }
   }

   h3.legend {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      @include fonts(clr(p2),16px,700)
   }

   p {
      width: 100%;
      padding: 1% 0;
      @include fonts(clr(p2),12px,600)
   }

   .btn {
      width: 40%;
      margin: 0 auto;
      text-align: center;
   }

   button {
      background-color: clr(p);
      border: none;
      padding: 8px 13px;
      @include fonts(#fff,12px,600);
      &:hover {
         background-color: clr(s);
         box-shadow: 1px 1px 6px 2px rgba(#333,0.2);
      }
   }

   ul li {
      display: none;
   }

   .alt-text {
      width: 50%;
      margin: 0 auto;
      text-align: center;
   }
}